@tailwind base;
@tailwind components;
@tailwind utilities;


/* Base styles for both active and normal links */


@font-face {
  font-family: 'Quran Surah 2';
  src: url('QuranSurah2.woff2') format('woff2'),
      url('QuranSurah2.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quran Surah 1';
  src: url('QuranSurah1.woff2') format('woff2'),
      url('QuranSurah1.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quran Surah 02';
  src: url('QuranSurah02.woff2') format('woff2'),
      url('QuranSurah02.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quran Surah 01';
  src: url('QuranSurah01.woff2') format('woff2'),
      url('QuranSurah01.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Roboto:wght@300&display=swap');


.font-roboto {
    font-family: 'Roboto', sans-serif;
}

@font-face {
  font-family: "Navbar";
  src: url("https://db.onlinewebfonts.com/t/9455cdcc213da1287d98f3c2cff4c4fa.eot");
  src: url("https://db.onlinewebfonts.com/t/9455cdcc213da1287d98f3c2cff4c4fa.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/9455cdcc213da1287d98f3c2cff4c4fa.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/9455cdcc213da1287d98f3c2cff4c4fa.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/9455cdcc213da1287d98f3c2cff4c4fa.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/9455cdcc213da1287d98f3c2cff4c4fa.svg#Navbar")format("svg");
}

/* In your CSS file, e.g., styles.css */
@font-face {
  font-family: 'Al Qalam Quran';
  src: url('AlQalamQuran.woff2') format('woff2'),
       url('AlQalamQuran.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


.btn__sider{
  
}




  .select-container {
  position: sticky;
  top: 20px; 
  margin-left: 1200px;
  z-index: 1; 
}





@media (max-width: 1200px) {
  .select-container {
    margin-left: 10px; 
  }
}

@media (max-width: 768px) {
  .select-container {
    margin-left: 0; /* Reset the margin for smaller screens */
    text-align: center; /* Center the content */
  }
  .select__container-search{

    top: 20px; 
    margin-left: 20px;
    
  }
  .select-container-1 {
    display: none;
  }
}

.select-container-1{
  position: sticky;
  top: 100px; 
 z-index: 1; 
}

.active {
  color:#34d399;
  background: #000;
  border: 1px solid;
  padding: 5px;

  border-radius: 5px;
  font-weight: bold; 
}
/* .active__normal {
  color:#34d399; 
  background: #000;
  border: 1px solid;
  padding: 5px;
  margin-left: 90px;
  border-radius: 5px;
  font-weight: bold; 
} */

.fixed__1 {
  position: fixed;
  top: 1px; /* Adjust this value as needed */
  left: 0; /* Position it on the left side */
  width:100px;
  /* 33.33% width for col-span-3 effect */
  z-index: 100; /* Adjust the z-index value if needed */
}


@font-face {
  font-family: 'KFGQPC Uthman Taha Naskh';
  src: url('KFGQPCUthmanTahaNaskh.woff2') format('woff2'),
      url('KFGQPCUthmanTahaNaskh.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Landscape */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {

  body {
    background-color: lightblue;
  }
}


@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {

  body {
    background-color: lightgreen;
  }
}


@media (max-width: 393px) and (min-width: 0) {
  .custom-pixel-3-style {
  
    width: 100%; 
    font-size: 14px; 
  
  }
}

@media (max-width: 9999px) and (min-width: 359px) {
  .custom-pixel-3-xl-style {

    width: 80%; 
    font-size: 18px;

    background: #000;
  }
}

@media (max-width: 319px) and (min-width: 240px) {
  .nokia__8110 {

    width: auto; 
    font-size: 12px; 

    background: white;
    
  }

}


@media (max-width: 1024px) and (min-width: 768px) {
  .ipad__mini-design {
    font-size: 12px; 
    background: white;
  
    margin-left: 350px;
  }
  .ipad__mini-width{
    width: 1000px;
  }
  .ipad__mini-nav{
    display: none;
  }  

}

@media (min-width: 912px) and (max-width: 1368px) {
  .surface__pro{
display: block;
width: 100px;
  }
  /* .surface__pro-card{
width: 200px;
  } */
}



/* Apply fixed position and width to the sidebar */
.sidebar {
  position: fixed;
  width: 250px;
  height: 100%; /* Set the sidebar to match the height of the viewport */
  top: 0;
  left: 0;
  background-color: black;
  z-index: 1;
}

/* Apply other necessary styles to the main container */
.col-span-9 {
  /* Add any additional styles you need for the main container */
}

/* Example styles for active and normal links in the sidebar */
.normal-link {
  display: flex;
  align-items: center;
  padding: 10px;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s;
}

.active-link {
  background-color: red; /* Apply your desired active link background color */
}


@media (max-width: 1440px) {
  .your-content {
      display: block;
  }
}